:root {
    /* Primary */
    --bright: hsl(31, 77%, 52%);
    --dark: hsl(184, 100%, 22%); 
    --very-dark: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-p: hsla(0, 0%, 100%, 0.75);
    --very-light: hsl(0, 0%, 95%); /* background, headings, buttons */

    /* Fonts */
    --font-title: 'Big Shoulders Display', cursive;
    --font-body: 'Lexend Deca', sans-serif;
}

html {
    font-size: 0.9375rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    flex-direction: column;
    line-height: 1.6;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* .flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.row-wrap {
    flex-flow: row wrap;
}

.bg-bright {background-color: var(--bright);}
.bg-dark {background-color: var(--dark);}
.bg-very-dark {background-color: var(--very-dark);}

.tx-bright {color: var(--bright);}
.tx-dark {color: var(--dark);}
.tx-very-dark {color: var(--very-dark);}

.card {
    margin-top: 5.625rem;
    background-color: gray;
    width: 85vw;
    border-radius: 1vh;
    overflow: hidden;
}

.card_content {
    flex-flow: row wrap;
}

.card__column {
    padding: 3.125rem;
    flex: 1;
}

.column__title {
    font-family: var(--font-title);
    text-transform: uppercase;
    color: var(--very-light);
    font-size: 2.25rem;
}

.column__description {
    color: var(--transparent-p);
}

.column__btn {
    margin-top: 2rem;
    text-decoration: none;
    background-color: var(--very-light);
    padding: 1rem 2rem;
    border-radius: 4vh;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin: 1.5625rem 0;
}
.attribution a {
    color: var(--very-dark);
    text-decoration: none;
}


/* Media Queries */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

    /* body {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;} */
  }
 